
body {
  background: lightgray;
}
.jumbotron {
    border-radius: 0px;
    background-image: url('/bg.jpg');
    height: 300px;
    background-size: cover;
    background-position: bottom; 
    padding: 0;
    margin: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

