
body {
  background: lightgray;
}
.jumbotron {
    border-radius: 0px;
    background-image: url('https://cdn.pixabay.com/photo/2020/01/10/10/47/wildfire-4755030_960_720.jpg');
    height: 300px;
    background-size: cover;
    background-position: center; 
    padding: 0;
    margin: 0;
}