
body {
  background: lightgray;
}
.jumbotron {
    border-radius: 0px;
    background-image: url('/bg.jpg');
    height: 300px;
    background-size: cover;
    background-position: bottom; 
    padding: 0;
    margin: 0;
}